<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common"></div>
    <style>
        body{background-color: #e7eaec;height: 830px;}
        .divStyle{margin-left: 20px;margin-right: 20px;margin-top: 30px;background-color: white;}
    </style>
    <script  th:src="@{/js/module/menu/menu.js}"></script>
</head>
<body>
    <div class="divStyle">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive" style="margin-left: 20px;margin-right: 20px;">
                    <form role="form1" class="form-inline" action="">
                        <div style="height: 20px;">
                            <input type="hidden" th:value="${role.isSuper}" id="isSuper" />
                        </div>
                        <div class="doc-buttons" id="toolbar">
                            <button id="addWindow" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                            </button>
                            <button id="editWindow" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-edit"></i>&nbsp;编辑
                            </button>
                            <button id = "deleteWindow" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                            </button>
                        </div>
                        <table class="table table table-striped table-bordered table-hover" id="menuTable">
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#menuTable").bootstrapTable({
            contentType: "application/x-www-form-urlencoded", //不设置时会默认text/plain，request.getParameter()是取不到值的
            url: "/menu/menuDataList",         //请求后台的URL（*）
            method: 'POST',                      //请求方式（*）
            height: '100%',
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "server",                    //分页方式：client客户端分页，server服务端分页（*）
            pageNum:1,
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 20],                //可供选择的每页的行数（*）
            striped: true,                    //是否显示行间隔色
            showRefresh: true,               //是否显示刷新按钮
            showToggle:true,                 //是否显示详细视图和列表视图
            showColumns: true,                //是否显示所有的列
            uniqueId: "ID",                   //每一行的唯一标识，一般为主键列
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationFirstText: "首页",
            paginationLastText: "末页",
            queryParams: queryParams,
            responseHandler: responseHandler,
            columns: [{
                checkbox: true
            },{
                field: 'id',
                title: 'ID',
                visible: false
            },{
                field: 'details',
                title: '详情',
                formatter : function (value,row,index) {
                    var res = "<a title='子级菜单' onclick=\"queryDetails('" + row.id + "')\"><span class=\"glyphicon glyphicon-th-list\"></span></a>";
                    return res;
                }
            },{
                field: 'name',
                title: '名称'
            },{
                field: 'num',
                title: '顺序'
            },{
                field: 'des',
                title: '描述'
            },{
                field: 'state',
                title: '系统默认',
                visible: false
            }]
        })
        //查询条件
        function queryParams(params) {
            var pageSize = params.limit;
            var offset = params.offset;
            var pageNum = offset / pageSize + 1;
            return {
                pageSize : pageSize,
                pageNum : pageNum
            }
        }
    </script>
    <!-- 模态框（父级菜单添加） -->
    <div class="modal fade" id="parentModal"  role="dialog" aria-labelledby="parentModalLabel" aria-hidden="true">
        <div class="modal-dialog"  style="width: 860px;">
            <div class="modal-content">
                <div class="modal-header" style="height: 50px;background-color: #1872ab">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="parentModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="form3" role="form" id="menuAddForm">
                        <div class="form-group" style="margin-left: -30px;margin-right: 30px;">
                            <label class="col-sm-2 control-label" for="name">模块名称&nbsp;<span style="color: red;">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="name"  name="name" placeholder="请输入模块名称"/>
                            </div>
                            <label class="col-sm-2 control-label" for="num">顺序号</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="num"  name="num" placeholder="请输入顺序号"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: -30px;margin-right: 30px;">
                            <label class="col-sm-2 control-label" for="des">描述</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="des" name="des"></textarea>
                            </div>
                        </div>
                        <div><input type="hidden" id="id"/></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="menuSave">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- 模态框（子级菜单列表） -->
    <div class="modal fade" id="menuModal"  role="dialog" aria-labelledby="childMenuModal" aria-hidden="true">
        <div class="modal-dialog"  style="width: 95%;">
            <div class="modal-content">
                <div>
                    <input type="hidden" id="menuParentId"/>
                </div>
                <div class="modal-header" style="height: 50px;background-color: #1872ab">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="childMenuModal"></h4>
                </div>
                <div class="modal-body">
                    <div class="doc-buttons" id="childToobar">
                        <button id="childAdd" class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                        </button>
                        <button id="childEdit" class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-edit"></i>&nbsp;编辑
                        </button>
                        <button id = "childDelete" class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                        </button>
                    </div>
                    <form role="form2" class="form-inline" action="">
                        <table class="table table table-striped table-bordered table-hover" id="childTable">
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- 模态框（子级菜单添加） -->
    <div class="modal fade" id="childModal"  role="dialog" aria-labelledby="childMenuModalLabel" aria-hidden="true">
        <div class="modal-dialog"  style="width: 860px;">
            <div class="modal-content">
                <div class="modal-header" style="height: 50px;background-color: #1872ab">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="childMenuModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="form4" role="form" id="childMenuAddForm">
                        <div class="form-group" style="margin-left: -30px;margin-right: 30px;">
                            <label class="col-sm-2 control-label" for="childName">模块名称&nbsp;<span style="color: red;">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="childName"  name="childName" placeholder="请输入模块名称"/>
                            </div>
                            <label class="col-sm-2 control-label" for="childNum">顺序号</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="childNum"  name="childNum" placeholder="请输入顺序号"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: -30px;margin-right: 30px;">
                            <label class="col-sm-2 control-label" for="url">访问路径&nbsp;</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="url"  name="url" placeholder="请输入访问路径"/>
                            </div>
                            <label class="col-sm-2 control-label" for="childDes">描述</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="childDes" name="childDes"></textarea>
                            </div>
                        </div>
                        <div><input type="hidden" id="childId"/></div>
                        <div><input type="hidden" id="childParentId"/></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="childMenuSave">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</body>
</html>