<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/bootstrap-table.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/bootstrap-table.min.css}"/>
    <script  th:src="@{/js/jquery.2.2.4.min.js}"></script>
    <script  th:src="@{/js/bootstrap.min.js}"></script>
    <!--<script  th:src="@{/js/plugins/bootstrap-table.js}"></script>-->
    <!--<script  th:src="@{/js/plugins/bootstrap-table-locale-all.js}"></script>-->
    <script  th:src="@{/js/plugins/bootstrap-table.min.js}"></script>
    <script  th:src="@{/js/plugins/bootstrap-table-mobile.min.js}"></script>
    <script  th:src="@{/js/plugins/bootstrap-table-zh-CN.min.js}"></script>
    <script  th:src="@{/js/bootbox.js}"></script>
    <script  th:src="@{/js/init/init.js}"></script>
    <script  th:src="@{/js/init/utilInit.js}"></script>
    <script>
        //在请求成功或失败之后均调用， 跳转至登录页面
        $.ajaxSetup({
            complete:function(xhr,textStatus){
                console.log("status:" + xhr.status);
                if (xhr.status == '10001'){
                    console.log("status:" + xhr.status + ",跳转至登录页面。。。");
                    if (window != top) {
                        //判断一下当前是不是最顶层，如果不是，则做一下顶层页面重定向
                        top.location.href = "http://" + document.location.host + "/login";
                    }
                }

            }
        });
    </script>
</div>
</body>
</html>
