<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common"></div>
    <style>
        body{background-color: #e7eaec;height: 830px;}
        .divStyle{margin-left: 20px;margin-right: 20px;margin-top: 30px;background-color: white;}
        .userMassege{width: 220px;}
    </style>
    <!--<script  th:src="@{/js/init/paging.js}"></script>-->
    <script  th:src="@{/js/module/user/user.js}"></script>
</head>
<body>
<div class="divStyle">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="table-responsive" style="margin-top: 20px;margin-left: 20px;margin-right: 20px;">
                <form role="form" class="form-inline" action="">
                    <div class="doc-buttons" id="toolbar">
                        <button id="userWindow" class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                        </button>
                        <button id="userEdit" class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-edit"></i>&nbsp;编辑
                        </button>
                        <button id = "userDelete" class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                        </button>
                    </div>
                    <table class="table table table-striped table-bordered table-hover" id="userTable">
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" style="height: 170px;">
                <div>
                    <div style="float: left;">账&nbsp;&nbsp;号&nbsp;:&nbsp;<input class="userMassege" type="text" id="userName" name="userName" /></div>
                    <div style="float: left;margin-left: 10px;"> 姓&nbsp;&nbsp;名&nbsp;:&nbsp;<input class="userMassege"  type="text" id="realName" name="realName" /> </div>
                </div>
                <br>
                <div style="margin-top: 20px;">
                    <div style="float: left;"> 密&nbsp;&nbsp;码&nbsp;:&nbsp;<input class="userMassege" type="password" id="password" name="password" /></div>
                    <div style="float: left;margin-left: 10px;"> 电&nbsp;&nbsp;话&nbsp;:&nbsp;<input class="userMassege" type="text" id="tel" name="tel" /></div>
                </div>
                <br>
               <div style="margin-top: 20px;">
                   <div style="float: left;">
                       角&nbsp;&nbsp;色&nbsp;:&nbsp;
                       <select id="role" style="margin-left: -4px; width: 220px;height: 25px;">

                       </select>
                   </div>
                   <div style="float: left;margin-left: 10px;">
                       <div style="float: left;">描&nbsp;&nbsp;述&nbsp;:&nbsp;</div>
                       <div style="float: left;"><textarea class="userMassege" type="" id="des" name="des" ></textarea></div>
                       <div><input id="userId" type="hidden" /></div>
                   </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="userSave">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    $("#userTable").bootstrapTable({
        contentType: "application/x-www-form-urlencoded", //不设置时会默认text/plain，request.getParameter()是取不到值的
        url: "/user/queryUserList",         //请求后台的URL（*）
        method: 'POST',                      //请求方式（*）
        height: '100%',
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        sidePagination: "server",                    //分页方式：client客户端分页，server服务端分页（*）
        pageNum:1,
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 20],                //可供选择的每页的行数（*）
        striped: true,                    //是否显示行间隔色
        showRefresh: true,               //是否显示刷新按钮
        showToggle:true,                 //是否显示详细视图和列表视图
        showColumns: true,                //是否显示所有的列
        uniqueId: "ID",                   //每一行的唯一标识，一般为主键列
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        paginationFirstText: "首页",
        paginationLastText: "末页",
        queryParams: queryParams,
        responseHandler: responseHandler,
        columns: [{
            checkbox: true
        },{
            field: 'id',
            title: 'ID',
            visible: false
        },{
            field: 'userName',
            title: '账号'
        },{
            field: 'realName',
            title: '姓名'
        },{
            field: 'password',
            title: '密码'
        },{
            field: 'tel',
            title: '电话'
        },{
            field: 'roleName',
            title: '角色'
        },{
            field: 'des',
            title: '描述'
        }]
    });
    //查询条件
    function queryParams(params) {
        var pageSize = params.limit;
        var offset = params.offset;
        var pageNum = offset / pageSize + 1;
        return {
            pageSize : pageSize,
            pageNum : pageNum
        }
    }
</script>
</body>
</html>