<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common"></div>
    <style>
        body{background-color: #e7eaec;height: 830px;}
        .divStyle{margin-left: 20px;margin-right: 20px;margin-top: 30px;background-color: white;}
    </style>
    <script  th:src="@{/js/module/cost/payment.js}"></script>
</head>
<body>
    <div class="divStyle">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div style="height: 20px;">
                    <input type="hidden" th:value="${role.isSuper}" id="isSuper" />
                </div>
                <div class="doc-buttons" style="margin-left: 20px;">
                    <button id="addWindow" class="btn btn-primary" type="button">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                    </button>
                    <button id="editWindow" class="btn btn-primary" type="button">
                        <i class="glyphicon glyphicon-edit"></i>&nbsp;编辑
                    </button>
                    <button id = "deleteWindow" class="btn btn-primary" type="button">
                        <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                    </button>
                    <label style="margin-left: 30px;">收款状态&nbsp;:&nbsp;</label>
                    <select style="height: 33px;width: 120px;" id="status" name="status">
                        <option value ="">请选择</option>
                        <option value ="1">已付清</option>
                        <option value ="2">未付清</option>
                    </select>
                    <button id = "dateQuerySearch" class="btn btn-primary" type="button" style="margin-left: 30px;">
                        <i class="glyphicon glyphicon-search"></i>&nbsp; 查询
                    </button>
                </div>
                <div class="table-responsive" style="margin-left: 20px;margin-right: 20px;">
                    <form role="form" class="form-inline" action="">
                        <table class="table table table-striped table-bordered table-hover" id="myTable" data-toggle="table"
                               data-show-columns="true" data-show-refresh="true">
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="paymentModal"  role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog"  style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header" style="height: 50px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="paymentModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" name="form1" role="form">
                        <div class="form-group">
                            <label for="customerName">客户姓名&nbsp;<span style="color: red;">*</span></label>
                            <input style="width: 300px;margin-left: 10px;" type="text" class="form-control" id="customerName" name="customerName" placeholder="请输入客户姓名">
                        </div>
                        <div class="form-group" style="margin-left: 10px;">
                            <label for="contact">联系方式</label>
                            <input style="width: 300px;margin-left: 10px;" type="tel" class="form-control" id="contact" name="contact" placeholder="请输入联系方式">
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label for="payee">收款人&nbsp;<span style="color: red;">*</span></label>
                            <input style="width: 300px;margin-left: 10px;" type="text" class="form-control" id="payee" name="payee" placeholder="请输入收款人">
                        </div>
                        <div class="form-group">
                            <label>收款状态</label>
                            <input type="radio"  name="status" value="1" checked="checked"/>已付清
                            <input type="radio"  name="status" value="2" />未付清
                        </div>
                        <div class="form-group">
                            <label for="amounts">总金额</label>
                            <input type="number" class="form-control" id="amounts" name="amounts" placeholder="请输入金额">
                        </div>
                        <div class="form-group" id="amountId">
                            <label for="amount">已收金额</label>
                            <input type="number" class="form-control" id="amount" name="amount" placeholder="请输入金额"/>
                        </div>
                        <div class="form-group">
                            <label for="type">收款方式</label>
                            <div class="col-sm-10">
                                <select style="height: 35px;" id="type" name="type">
                                    <option value ="1">现金</option>
                                    <option value ="2">支付宝</option>
                                    <option value ="3">微信</option>
                                    <option value ="4">转账</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paymentTime">收款日期</label>
                            <input type="date" class="form-control" id="paymentTime" name="paymentTime" placeholder="请选择收款日期">
                        </div>
                        <div class="form-group">
                            <label for="detailsDes">详情描述</label>
                            <textarea class="form-control" id="detailsDes" name="detailsDes"></textarea>
                        </div>
                        <div class="form-group">
                            <label>备注</label>
                            <textarea class="form-control" id="remark" name="remark"></textarea>
                        </div>
                        <div><input type="hidden" id="id" /></div>
                        <div><input type="hidden" id="createTime" /></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="userSave">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script type="text/javascript">
            $("#myTable").bootstrapTable({
                contentType: "application/x-www-form-urlencoded", //不设置时会默认text/plain，request.getParameter()是取不到值的
                url: "/cost/paymentDataList",         //请求后台的URL（*）
                method: 'POST',                      //请求方式（*）
                height: '100%',
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",                    //分页方式：client客户端分页，server服务端分页（*）
                pageNum:1,
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 20],                //可供选择的每页的行数（*）
                striped: true,                    //是否显示行间隔色
                cache: false,
                showColumns: true,                //是否显示所有的列
                uniqueId: "ID",                   //每一行的唯一标识，一般为主键列
                paginationPreText: "上一页",
                paginationNextText: "下一页",
                queryParams: queryParams,
                responseHandler: responseHandler,
                columns: [{
                    checkbox: true
                },{
                    field: 'id',
                    title: 'ID'
                },{
                    field: 'customerName',
                    title: '客户姓名'
                },{
                    field: 'contact',
                    title: '联系方式'
                },{
                    field: 'payee',
                    title: '收款人'
                },{
                    field: 'status',
                    title: '收款状态',
                    formatter:function(value,row,index){
                        if (value == 1){
                            return "<span>已付清</span>"
                        }
                        if (value == 2){
                            return "<span>未付清</span>"
                        }
                    }
                },{
                    field: 'amounts',
                    title: '总金额'
                },{
                    field: 'amount',
                    title: '已收金额'
                },{
                    field: 'type',
                    title: '收款方式',
                    formatter:function(value,row,index){
                        if (value == 1){
                            return "<span>现金</span>"
                        }
                        if (value == 2){
                            return "<span>支付宝</span>"
                        }
                        if (value == 3){
                            return "<span>微信</span>"
                        }
                        if (value == 4){
                            return "<span>转账</span>"
                        }
                    }
                },{
                    field: 'paymentTime',
                    title: '收款日期',
                    formatter:function(value,row,index){
                        if (value == null){
                            return ""
                        }
                        return value.substring(0, 10);
                    }
                },{
                    field: 'createTime',
                    title: '创建日期'
                },{
                    field: 'detailsDes',
                    title: '详情描述',
                    visible: false            //设置隐藏
                },{
                    field: 'remark',
                    title: '备注',
                    visible: false
                },{
                    field: 'price',
                    title: '操作',
                    width: 120,
                    align: 'center',
                    valign: 'middle',
                    formatter: actionFormatter,
                }]
            });
        //操作栏的格式化
        function actionFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
            return result;
        }
        //查询条件
        function queryParams(params) {
            var pageSize = params.limit;
            var offset = params.offset;
            var pageNum = offset / pageSize + 1;
            return {
                pageSize : pageSize,
                pageNum : pageNum,
                status : $.trim($("#status").val())
            }
        }
    </script>
</body>
</html>