<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common"></div>
    <style>
        body{background-color: #e7eaec;height: 830px;}
        .divStyle{margin-left: 20px;margin-right: 20px;margin-top: 30px;background-color: white;}
    </style>
    <script  th:src="@{/js/module/cost/paymentDetails.js}"></script>
</head>
<body>
    <div class="divStyle">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <!--<input type="hidden" th:value="${paymentId}" id="paymentId"/>-->
                    <!--<input type="hidden" th:value="${role.isSuper}" id="isSuper" />-->
                </div>
                <div class="table-responsive" style="margin-left: 20px;margin-right: 20px;">
                    <form role="form" class="form-inline" action="">
                        <div class="doc-buttons" id="detailsToolbar">
                            <button id="detailsAddWindow" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                            </button>
                            <button id="detailsEditWindow" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-edit"></i>&nbsp;编辑
                            </button>
                            <button id = "detailsDeleteWindow" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                            </button>
                        </div>
                        <table class="table table table-striped table-bordered table-hover" id="detailsTable">
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    var paymentId = [[${paymentId}]];
    $("#detailsTable").bootstrapTable({
        contentType: "application/x-www-form-urlencoded", //不设置时会默认text/plain，request.getParameter()是取不到值的
        url: "/payment/paymentDetailsById",         //请求后台的URL（*）
        method: 'POST',                      //请求方式（*）
        height: '100%',
        toolbar: '#detailsToolbar',
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        sidePagination: "server",                    //分页方式：client客户端分页，server服务端分页（*）
        pageNum:1,
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 20],                //可供选择的每页的行数（*）
        striped: true,                    //是否显示行间隔色
        showRefresh: true,
        showColumns: true,                //是否显示所有的列
        uniqueId: "ID",                   //每一行的唯一标识，一般为主键列
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        queryParams: function (params) {
            var pageSize = params.limit;
            var offset = params.offset;
            var pageNum = offset / pageSize + 1;
            return {
                pageSize : pageSize,
                pageNum : pageNum,
                paymentId : paymentId
            }
        },
        responseHandler: responseHandler,
        columns: [{
            checkbox: true
        },{
            field: 'id',
            title: 'ID',
            visible: false
        },{
            field: 'customerName',
            title: '客户姓名'
        },{
            field: 'contact',
            title: '联系方式'
        },{
            field: 'payee',
            title: '收款人'
        },{
            field: 'amount',
            title: '金额'
        },{
            field: 'paymentTime',
            title: '收款日期',
            formatter:function(value,row,index){
                if (value == null){
                    return ""
                }
                return value.substring(0, 10);
            }
        },{
            field: 'createTime',
            title: '创建日期'
        },{
            field: 'remark',
            title: '备注',
            visible: false
        }]
    });
</script>
</body>
</html>